*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    text-align: justify;
    font-family: "Arial";
    font-size: 1.4rem;
    background-color: #DAF7A6;
    color: #30462d;
}

p.intro
{
    font-style: italic;
}

section
{
    border: 10px dotted #344733;
    margin: 5rem;
    padding: 4rem 8rem;
}

.block
{
    border: 5px dotted #7cb379;
    padding: 3rem;
}

.button-section
{
    border: 5px dotted #344733;
}

.btn
{
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background-color: rgb(88, 121, 109);
    border-radius: 5px;
    border: 1px solid #566963;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0px -1px 0px #2b665e;
    padding: 10px 20px;
}

.btn:hover
{
    color: #3b413f;
}
