/*--------------------------
# General
----------------------------*/
:root {
  --purple-1: #390C3E;
  --purple-2: #5A235C;
  --purple-3: #7B3A7B;
  --purple-4: #9C5199;
  --purple-5: #BD67B7;
  --purple-6: #DE7ED6;
  --purple-pink: #FF95F4;

  --pink-1: #c847aa;
  --pink-2: #ed37d5;

  --text-color: rgb(41, 41, 41);
  --titles-color: var(--purple-2);
  --link-color: var(--purple-4);
  --link-hover-color: var(--pink-2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  text-align: justify;

  background-color: var(--purple-pink);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

h1,
h2 {
  color: var(--purple-1);
  font-weight: 700;
}

h3,
h4 {
  color: var(--purple-3);
  font-weight: 600;
}

strong {
  color: var(--purple-2);
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

/* ----------- navbar ----------- */

/* ----------- main ----------- */

/*#portfolio,
#about,
#services {
  border: 1px solid purple;
}*/

.hero,
.about > .row,
.services,
.services .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about,
#portfolio,
#services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about,
.about-text,
.portfolio,
.services,
.services-text {
  width: 80%;
}

/* hero */

.hero h1,
.hero h3 {
  color: white;
}

.hero .card {
  border: none;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* about */

.about ul li::before {
  font-family:'Bootstrap-icons';
  content: '\F633   ';
  color: var(--purple-3);
  font-size: 2rem;
}

.about-text {
  padding: 5rem 0 3rem 0;
}

.two-column {
  display: flex;
  justify-content: space-between;
}

/* portfolio */

/* services */

.services {
  gap: 2rem;
}

.services-title {
  align-self: flex-start;
}

.services-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-text .card {
  width: 20vw;
  min-height: 25vh;

  -webkit-box-shadow: 0 0 3rem 0.5rem var(--purple-2);
  -moz-box-shadow: 0 0 3rem 0.5rem var(--purple-2);
  box-shadow: 0 0 3rem 0.5rem var(--purple-2);
}

/* ----------- footer ----------- */

footer {
  background-color: var(--purple-3);
  color: white;
}

.footer-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer ul li::before {
  font-family:'Bootstrap-icons';
  content: '\F1C9   ';
}

.credits {
  text-align: center;
}

/* ------ MEDIA ------ */

/* phones: <576px (xs | col-x) */
@media only screen and (max-width: 575px) {
  .footer-me {
    padding: 3.5vh 0;
    min-height: 20vh;
    font-size: smaller;
  }
}

/* tablets: 576px a 768px (sm | col-sm-x) */
@media only screen and (min-width: 576px) {
  .footer-me {
    padding: 3.5vh 0;
    min-height: 20vh;
    font-size: smaller;
  }
}

/* small pc: 768px a 992px (md | col-md-x) */
@media only screen and (min-width: 768px) {
}

/* medium pc: 992px a 1200px (lg | col-lg-x) */
@media only screen and (min-width: 992px) {
  .footer-me {
    padding: 4vh 0;
  }
}

/* large pc: 1200px a 1400 (xl | col-xl-x) */
@media only screen and (min-width: 1200px) {
}

/* large pc: 1400 + (xl | col-xl-x) */
@media only screen and (min-width: 1400px) {
}